@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.main {
  height: 100vh;
  min-height: 400px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myname-up {
  font-family: "Oswald", sans-serif;
  font-size: 150px;
  color: white;
  text-shadow: 0.5rem 0.5rem rgb(0, 0, 0);
  user-select: none;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
}

.myname-down {
  font-family: "Oswald", sans-serif;
  font-size: 150px;
  color: white;
  text-shadow: 0.5rem 0.5rem rgb(0, 0, 0);
  user-select: none;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.name {
  color: crimson;
}

@media screen and (max-width: 768px) {
  .myname-up,
  .myname-down {
    font-size: 5rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
